In [1]:
from sqlalchemy import create_engine
import pandas as pd

import pymysql
import numpy as np
import matplotlib.pyplot as plt

from dateutil.relativedelta import  relativedelta

In [4]:
engine = create_engine('mysql+pymysql://web:dzh20030112@47.93.125.169/web')
products_data = pd.read_sql_query('select * from products', engine)
orders_data = pd.read_sql_query("select * from orders", engine)
order_details_data = pd.read_sql_query("select * from order_details", engine)
user_data = pd.read_sql_query("select u_name,u_id from users", engine)

#转换时间类型
orders_data['o_time'] = pd.to_datetime(orders_data['o_time'])
orders_data['paid_time'] = pd.to_datetime(orders_data['paid_time'])
#将表融合
merged_data = pd.merge(orders_data,order_details_data,left_on='o_id',right_on='order_id')
merged_data = pd.merge(merged_data,products_data,left_on='product_id',right_on='p_id')
merged_data = pd.merge(merged_data,user_data,left_on='user_id',right_on='u_id')
merged_data.head()

,o_id,status,paid_time,o_time,total_price,user_id,order_address,order_detail_id,quantity,current_single_price,order_id,product_id,shop_id,p_id,p_name,brand,p_type_id,u_name,u_id
0,2,待发货,2023-07-01 08:20:00,2023-07-01 08:14:00,13446.0,88,北工大,1,3,5000.0,2,1,10,1,华为p40手机,华为,1,CwX,88
1,2,待发货,2023-07-01 08:20:00,2023-07-01 08:14:00,13446.0,88,北工大,2,3,4482.0,2,3,10,3,Pixel 5,Google,3,CwX,88
2,112,待发货,2023-07-22 06:02:00,2023-07-22 06:01:00,8964.0,88,北工大,112,2,4482.0,112,3,10,3,Pixel 5,Google,3,CwX,88
3,23,待发货,2023-07-04 16:14:00,2023-07-04 15:47:00,5000.0,15,北工大,23,1,5000.0,23,1,10,1,华为p40手机,华为,1,wFB,15
4,540,待发货,2023-10-07 21:01:00,2023-10-07 20:43:00,10000.0,15,北工大,540,2,5000.0,540,1,10,1,华为p40手机,华为,1,wFB,15

In [6]:
#筛选出一年之内的购买记录
current_time = pd.Timestamp.now()
two_years_ago = current_time - relativedelta(years=1)
filtered_data = merged_data[(merged_data['paid_time'] >= two_years_ago) &
                               (merged_data['paid_time'] <= current_time)]
filtered_data = filtered_data.query('shop_id == 1')
filtered_data.head(5)

,o_id,status,paid_time,o_time,total_price,user_id,order_address,order_detail_id,quantity,current_single_price,order_id,product_id,shop_id,p_id,p_name,brand,p_type_id,u_name,u_id
0,2,待发货,2023-07-01 08:20:00,2023-07-01 08:14:00,13446.0,88,北工大,1,3,5000.0,2,1,10,1,华为p40手机,华为,1,CwX,88
1,2,待发货,2023-07-01 08:20:00,2023-07-01 08:14:00,13446.0,88,北工大,2,3,4482.0,2,3,10,3,Pixel 5,Google,3,CwX,88
2,112,待发货,2023-07-22 06:02:00,2023-07-22 06:01:00,8964.0,88,北工大,112,2,4482.0,112,3,10,3,Pixel 5,Google,3,CwX,88
3,23,待发货,2023-07-04 16:14:00,2023-07-04 15:47:00,5000.0,15,北工大,23,1,5000.0,23,1,10,1,华为p40手机,华为,1,wFB,15
4,540,待发货,2023-10-07 21:01:00,2023-10-07 20:43:00,10000.0,15,北工大,540,2,5000.0,540,1,10,1,华为p40手机,华为,1,wFB,15

In [29]:

# 创建一个空的DataFrame来存储RFM值
RFM = pd.DataFrame()
# 计算R（最近一次购买时间）注意，这个R是dataframe格式
R = filtered_data.groupby('u_id')['paid_time'].max().reset_index(name='last_purchase_time')
RFM['u_id'] = R['u_id']
RFM['Recency'] = (pd.Timestamp.now() - R['last_purchase_time']).dt.days
# 计算F（购买频次）
F = filtered_data.groupby('u_id').size().reset_index(name='frequency')
# 使用size()来计算每个组的行数,即该u_id在这一段时间内共出现了多少次。
RFM['Frequency'] = F['frequency']
# 计算M（总消费金额）
M = filtered_data.groupby('u_id')['total_price'].sum().reset_index(name='Monetary')
RFM['Monetary'] = M['Monetary']
RFM.head()

   u_id  Recency  Frequency  Monetary
0     4      188          2   41559.0
1     5      132          5   58110.0
2     6      127          2    9359.0
3    10      133          2   14084.0
4    11      130          2   16703.0

In [34]:
R_threshold = RFM['Recency'].median()
F_threshold = RFM['Frequency'].median()
M_threshold = RFM['Monetary'].median()
print(R_threshold)
print(F_threshold)
print(M_threshold)

160.0
3.0
41597.0

In [40]:
# 标识高于(1)或低于(0)平均值
RFM['R'] = (RFM['Recency'] <= R_threshold).astype(int)
RFM['F'] = (RFM['Frequency'] >= F_threshold).astype(int)
RFM['M'] = (RFM['Monetary'] >= M_threshold).astype(int)
RFM['RFM_Class'] = RFM['R'].astype(str)+RFM['F'].astype(str)+RFM['M'].astype(str) # 把0和1标签凑起来

# 创建中文标签映射
rfm_labels = {
    '111': '重要价值客户',
    '110': '潜力客户',
    '101': '重要深耕客户',
    '100': '新客户',
    '011': '重要唤回客户',
    '010': '一般维持用户',
    '001': '重要挽留客户',
    '000': '流失用户'
}

RFM['RFM_Label'] = RFM['RFM_Class'].map(rfm_labels)

RFM_data = RFM[['u_id', 'Recency', 'Frequency', 'Monetary', 'RFM_Class', 'RFM_Label']]
RFM_data

     u_id  Recency  Frequency  Monetary RFM_Class RFM_Label
0       4      188          2   41559.0       000      流失用户
1       5      132          5   58110.0       111    重要价值客户
2       6      127          2    9359.0       100       新客户
3      10      133          2   14084.0       100       新客户
4      11      130          2   16703.0       100       新客户
..    ...      ...        ...       ...       ...       ...
230   246      138          2   27990.0       100       新客户
231   247      188          8   86731.0       011    重要唤回客户
232   248      132          3   48174.0       111    重要价值客户
233   249      176          4   44358.0       011    重要唤回客户
234   250      167          7   96087.0       011    重要唤回客户

[235 rows x 6 columns]