In [1]:
from sqlalchemy import create_engine
import pandas as pd
import pymysql
import numpy as np
import matplotlib.pyplot as plt

from dateutil.relativedelta import  relativedelta

In [2]:
engine = create_engine('mysql+pymysql://web:dzh20030112@47.93.125.169/web')
products_data = pd.read_sql_query('select * from products', engine)
orders_data = pd.read_sql_query("select * from orders", engine)
order_details_data = pd.read_sql_query("select * from order_details", engine)
user_data = pd.read_sql_query("select u_name,u_id from users", engine)

#转换时间类型
orders_data['o_time'] = pd.to_datetime(orders_data['o_time'])
orders_data['paid_time'] = pd.to_datetime(orders_data['paid_time'])
#将表融合
merged_data = pd.merge(orders_data,order_details_data,left_on='o_id',right_on='order_id')
merged_data = pd.merge(merged_data,products_data,left_on='product_id',right_on='p_id')
merged_data = pd.merge(merged_data,user_data,left_on='user_id',right_on='u_id')
merged_data.head(1)

,o_id,status,paid_time,o_time,total_price,user_id,order_address,order_detail_id,quantity,current_single_price,order_id,product_id,shop_id,p_id,p_name,brand,p_type_id,u_name,u_id
0,2,待发货,2023-07-01 08:20:00,2023-07-01 08:14:00,13446.0,88,北工大,1,3,5000.0,2,1,10,1,华为p40手机,华为,1,CwX,88

In [15]:
#筛选出一年之内的购买记录
current_time = pd.Timestamp.now()
two_years_ago = current_time - relativedelta(years=1)
filtered_data = merged_data[(merged_data['paid_time'] >= two_years_ago) &
                               (merged_data['paid_time'] <= current_time)]
filtered_data = filtered_data.query('shop_id == 1')
filtered_data.head(5)

,o_id,status,paid_time,o_time,total_price,user_id,order_address,order_detail_id,quantity,current_single_price,order_id,product_id,shop_id,p_id,p_name,brand,p_type_id,u_name,u_id
385,1028,待收货,2024-03-30 09:54:09,2024-03-30 09:54:09,58358.0,1,北工大,10479,2,4999.0,1028,1,1,1,华为p40手机,华为,1,艾丽斯,1
386,1070,待收货,2024-04-11 03:56:04,2024-04-11 03:56:04,58358.0,1,北工大,10521,2,4999.0,1070,1,1,1,华为p40手机,华为,1,艾丽斯,1
387,1071,待收货,2024-04-11 03:56:04,2024-04-11 03:56:04,58358.0,1,北工大,10525,2,4999.0,1071,1,1,1,华为p40手机,华为,1,艾丽斯,1
388,1072,待收货,2024-04-11 03:56:12,2024-04-11 03:56:12,58358.0,1,北工大,10529,2,4999.0,1072,1,1,1,华为p40手机,华为,1,艾丽斯,1
389,1073,待收货,2024-04-11 04:09:49,2024-04-11 04:09:49,58358.0,1,北工大,10533,2,4999.0,1073,1,1,1,华为p40手机,华为,1,艾丽斯,1

In [16]:

# 创建一个空的DataFrame来存储RFM值
RFM = pd.DataFrame()
# 计算R（最近一次购买时间）注意，这个R是dataframe格式
R = filtered_data.groupby('u_name')['paid_time'].max().reset_index()
R.columns = ['u_name', 'last_purchase_time']  # 重命名列以避免混淆
RFM['u_name'] = R['u_name']
RFM['Recency'] = (pd.Timestamp.now() - R['last_purchase_time']).dt.days
# 计算F（购买频次）
F = filtered_data.groupby('u_name').size().reset_index(name='frequency')  
# 使用size()来计算每个组的行数,即该u_id在这一段时间内共出现了多少次。
RFM['Frequency'] = F['frequency']
# 计算M（总消费金额）
M = filtered_data.groupby('u_name')['total_price'].sum().reset_index()
RFM['Monetary'] = M['total_price']
RFM

  u_name  Recency  Frequency   Monetary
0    艾丽斯        0         74  2790219.1

In [17]:
R_threshold = RFM['Recency'].mean()
F_threshold = RFM['Frequency'].mean()
M_threshold = RFM['Monetary'].mean()
print(R_threshold)
print(F_threshold)
print(M_threshold)

0.0
74.0
2790219.1

In [21]:
# 标识高于(1)或低于(0)平均值
RFM['R'] = (RFM['Recency'] <= R_threshold).astype(int)
RFM['F'] = (RFM['Frequency'] >= F_threshold).astype(int)
RFM['M'] = (RFM['Monetary'] >= M_threshold).astype(int)
RFM

  u_name  Recency  Frequency   Monetary  R  F  M RFM_Class RFM_Label
0    艾丽斯        0         74  2790219.1  1  1  1       000      流失用户

In [22]:

RFM['RFM_Class'] = RFM['R'].astype(str)+RFM['F'].astype(str)+RFM['M'].astype(str)

# 创建中文标签映射
rfm_labels = {
    '111': '重要价值客户',
    '110': '潜力客户',
    '101': '重要深耕客户',
    '100': '新客户',
    '011': '重要唤回客户',
    '010': '一般维持用户',
    '001': '重要挽留客户',
    '000': '流失用户'
}

RFM['RFM_Label'] = RFM['RFM_Class'].map(rfm_labels)

RFM[['u_name', 'RFM_Class', 'RFM_Label']]

  u_name RFM_Class RFM_Label
0    艾丽斯       111    重要价值客户